@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html, body{
    height: 100%;
    padding: 0;
    margin: 0;  
    
    font-family: "Rubik", sans-serif;    
}

/***********обводка всех блоков**************/
/** {
    border: 1px solid #000;
}*/

/**********************section header-menu*****************************************/

header {
    min-height: auto;           
}

.header-menu {
    position:fixed;
    top: 0;
    width: 100%;   
    z-index: 1000;     

    background: linear-gradient(to right, #FF9292, #DE5150); 

    transform: translateY(0px);
    transition: 0.4s transform ease;
}

.section-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 34px;
    height: 73px;
}

.logo{
    transform: translateY(-100px);
    transition: 0.4s transform ease;
}

.mainmenu__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 32px;

    list-style: none;
    width: 270px;

    padding-left: 0px;    
}

.menu{
    width: 270px;
    margin-left: 375px;/*375px - 32px*/
    margin-right: 390px;


    position: relative;
    transform: translateY(-100px);
    transition: 0.4s transform ease;
}

.mainmenu__item{
    width: 47px;
}

/*************************section__banner*********************************/

.section__banner{
    padding-top: 150px;
    background: linear-gradient(to right, #FF9292, #DE5150);
    color: white;

    height: 850px;    
}

.slider__item{
    display:  grid;
    grid-template-columns: 165px 570px 95px 520px 270px;
    grid-template-rows: 40px 30px 280px 45px 60px 35px 60px;

    text-align: left;    
}

.headphones{
    grid-column: 2;
    width: 570px;
}

.slider__text{
    grid-column: 4;
    grid-row: 2;

    font-size: 22px;
    font-weight:normal;

    height: 30px;

    position: relative;
    top:-20px;
}

h1{
    grid-column: 4;
    grid-row: 3;   
    
    font-size: 100px;
    font-weight: bold;
    line-height: 1;

    position: relative;
    top: -90px;

    height: 280px;
}

.price{
    grid-column: 4;
    grid-row: 5;  

    display: flex;
    flex-direction: row;
    align-items: center;
}

.price-new{   
    font-size: 50px;
    font-weight:bold;
}

.price-old{   
    text-decoration: line-through;

    font-size: 40px;
    font-weight:500;    
}

.stick{
    height: 60px;
    padding: 30px;
}

.slider__button {
    grid-column: 4;
    grid-row: 8;
    width: 190px;
    height: 60px;
    border: none;
    border-radius: 50px 50px 50px 50px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF4948;
    font-size: 22px;
    font-weight: 500;
}

.navbar-toggler{
    background: none;
    border: none;
}

.navbar-toggler img{
    width: 30px;
}

/****************************collection********************************************/

.collection-slider .slider{

}

.collection-slider-item{
    width: 95%;

    object-fit: cover;
    border: 3px #7D7575;
    border-radius: 30px;
}

.collection-slider-item .active{
    width: 100%;
}

.collection h2{
    font-size: 40px;
    font-weight: bold;
    line-height: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    height: 100px;
    width: 510px;
}
/*
.maincollection__list{
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(1, 300px);
    

    justify-content: center;
    align-items: center;
}

.maincollection__item1{
    grid-column: 3/6;
    grid-row: 1/3;

    background-size: cover;
    background-position: center;    
}

.maincollection__item1 img{
    width: 95%;
}

.maincollection__item2{
    grid-column: 6/9;
    grid-row: 1/3;

    background-size: cover;
    background-position: center;

    z-index: 1;
}

.maincollection__item2 img{
    width: 100%;
}

.maincollection__item3{
    grid-column: 9/12;
    grid-row: 1/3;

    background-size: cover;
    background-position: center;    
}

.maincollection__item3 img{
    width: 95%;
    
}

.maincollection__button--prev {
    grid-column: 1;
}

.maincollection__button--next {
    grid-column: -1;
}*/
/****************************.description************************************************/

.description{
    height: 605px;
}

.description .container{
    display: grid;
    grid-template-columns:1fr 190px 1fr;    

    padding-left: 246px;
    padding-right: 224px;
}

.description__text{
    grid-column: 1;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 190px repeat(3, 100px);

    grid-row-gap: 40px;
}

.description__text h2{
    grid-column: 1/2;
    grid-row: 1;

    font-size: 44px;
    font-weight: 700;
    width: 460px;

    line-height: 1;

    position: relative;
    bottom:20px;
    
}
/*************************************************/
.description__text--1{
    grid-row:2;

    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 40px 25px 35px;
    column-gap: 20px;
}

.battery{
    grid-column: 1;
    grid-row: 1;

    width: 100px;    

    display: flex;
    justify-content: center;
    align-items: center;
}

.description__text--1 .h3-1{
    grid-column: 2/3;
    grid-row: 1;    

    display: flex;    
    align-items: center;

    font-size: 31px;
    font-weight: 500;
}
.description__text .p-1{
    grid-column: 2/3;
    grid-row: 2;    

    display: flex;    
    align-items: center;

    font-size: 16px;
    font-weight: 400;    
}

.description__text .a-1{
    grid-column: 2/3;
    grid-row: 3;

    color: #DE5150;
    text-decoration: none;

    display: flex;    
    align-items: center;

    font-size: 16px;
    font-weight: 500;
}
/*****************************************************/

.description__text--2{
    grid-row:3;
    
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 40px 25px 35px;
    column-gap: 20px;
}

.bluetooth{
    grid-column: 1;
    grid-row: 1;

    width: 100px;  

    display: flex;    
    align-items: center;
}

.description__text--2 .h3-1{
    grid-column: 2/3;
    grid-row: 1;

    display: flex;    
    align-items: center;

    font-size: 31px;
    font-weight: 500;
}
.description__text--2 .p-1{
    grid-column: 2/3;
    grid-row: 2;

    display: flex;    
    align-items: center;

    font-size: 16px;
    font-weight: 400;
}

.description__text--2 .a-1{
    grid-column: 2/3;
    grid-row: 3;
    
    color: #DE5150;
    text-decoration: none;

    display: flex;    
    align-items: center;

    font-size: 16px;
    font-weight: 500;
}

/*******************************/

.description__text--3{
    grid-row:4;
    
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 40px 25px 35px;
    column-gap: 20px;
}

.microphone{
    grid-column: 1;
    grid-row: 1;

    width: 100px;  

    display: flex;
    justify-content: center;
    align-items: center;
}

.description__text--3 .h3-1{
    grid-column: 2/3;
    grid-row: 1;

    display: flex;    
    align-items: center;

    font-size: 31px;
    font-weight: 500;
}
.description__text--3 .p-1{
    grid-column: 2/3;
    grid-row: 2;

    display: flex;    
    align-items: center;

    font-size: 16px;
    font-weight: 400;
}

.description__text--3 .a-1{
    grid-column: 2/3;
    grid-row: 3;
    
    color: #DE5150;
    text-decoration: none;

    display: flex;    
    align-items: center;

    font-size: 16px;
    font-weight: 500;
}

/**********************************************/

.image-description{
    grid-column: 3;
    padding-top: 65px;
}
.image-description img{
    width: 332px;
    position: relative;
    bottom: 0;
}

/****************************product****************************/

.otherproducts{
    padding-top: 130px;
}

.otherproducts-text--1{
    text-align: center;
    font-size: 44px;
    font-weight: 700;   
    line-height: 0;    
}

.otherproducts-text--2{
    text-align: center;
    
    display: block;
    margin: 0 auto;

    font-size: 16px;
    font-weight: 400;   
    line-height: 24px;

    width: 560px;
    padding-bottom: 43px;
}

.product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 300px);

    grid-gap: 30px;

    padding-left: 246px;
    padding-right: 227px;
}

.product__item1{
    grid-column: 1;
    grid-row: 1/3;

    /*background-image: url('../img/otherproducts/headphones1.png');    */
    
    background-size: cover;
    background-position: center;
}

.product__item2{
    grid-column: 2;
    grid-row: 1/3;

    /*background-image: url('../img/otherproducts/headphones2.png');    */
    background-size: cover;
    background-position: center;
}


.product__item3{
    grid-column: 3;
    grid-row: 1/3;

    /*background-image: url('../img/otherproducts/headphones3.png');    */
    background-size: cover;
    background-position: center;
}


/*****************************product__item1******************************************/

.product__item1{
    display: grid;
    grid-template-columns: 262px 70px; 
    grid-template-rows: 385px 65px 45px;   
}

.cart-a{
    width: 79px;
    height: 80px;
    z-index: 100;
}

.product__item1 .cart-a{
    grid-column: 2;
    grid-row: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;

    position: relative;
    top: 25px;
    left: 20px;

}

.headphones1{
    grid-column: 1/2;
    grid-row: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 330px;    
}

.product__item1 .star{
    grid-column: 1;
    grid-row: 2;

    display: flex;
    justify-content: left;    

    padding-top: 35px;
}

.product__item1 .a{
    grid-column: 2;
    grid-row: 2;

    display: flex;
    justify-content: right;
    align-items: center;
    
    padding-top: 35px;

    font-size: 16px;
    font-weight: 500;    
}

.product__item1 .b{
    grid-column: 1;
    grid-row: 3;

    display: flex;
    justify-content: left;
    align-items: center;

    font-size: 22px;
    font-weight: 400;    
}

.product__item1 .c{
    grid-column: 2;
    grid-row: 3;

    display: flex;
    justify-content: right;
    align-items: center;

    font-size: 22px;
    font-weight: 500;    
}

/*****************************product__item2******************************************/

.product__item2{
    display: grid;
    grid-template-columns: 262px 70px; 
    grid-template-rows: 385px 65px 45px;   
}

.product__item2 .cart-a{
    grid-column: 2;
    grid-row: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;

    position: relative;
    top: 25px;
    left: 20px;

}

.headphones2{
    grid-column: 1/2;
    grid-row: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 330px;    
}

.product__item2 .star{
    grid-column: 1;
    grid-row: 2;

    display: flex;
    justify-content: left;    

    padding-top: 35px;
}

.product__item2 .a{
    grid-column: 2;
    grid-row: 2;

    display: flex;
    justify-content: right;
    align-items: center;
    
    padding-top: 35px;

    font-size: 16px;
    font-weight: 500;    
}

.product__item2 .b{
    grid-column: 1;
    grid-row: 3;

    display: flex;
    justify-content: left;
    align-items: center;

    font-size: 22px;
    font-weight: 400;    
}

.product__item2 .c{
    grid-column: 2;
    grid-row: 3;

    display: flex;
    justify-content: right;
    align-items: center;

    font-size: 22px;
    font-weight: 500;    
}

/*****************************product__item3******************************************/

.product__item3{
    display: grid;
    grid-template-columns: 262px 70px; 
    grid-template-rows: 385px 65px 45px;   
}

.product__item3 .cart-a{
    grid-column: 2;
    grid-row: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;

    position: relative;
    top: 25px;
    left: 20px;

}

.headphones3{
    grid-column: 1/2;
    grid-row: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 330px;    
}

.product__item3 .star{
    grid-column: 1;
    grid-row: 2;

    display: flex;
    justify-content: left;    

    padding-top: 35px;
}

.product__item3 .a{
    grid-column: 2;
    grid-row: 2;

    display: flex;
    justify-content: right;
    align-items: center;
    
    padding-top: 35px;

    font-size: 16px;
    font-weight: 500;    
}

.product__item3 .b{
    grid-column: 1;
    grid-row: 3;

    display: flex;
    justify-content: left;
    align-items: center;

    font-size: 22px;
    font-weight: 400;    
}

.product__item3 .c{
    grid-column: 2;
    grid-row: 3;

    display: flex;
    justify-content: right;
    align-items: center;

    font-size: 22px;
    font-weight: 500;    
}

/*******************************************************/

.advantage{
    padding-top: 130px;
}

.advantage__wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding-left: 246px;
    padding-right: 304px;
}

.advantage__wrapper--image{
    grid-column: 1;
}

.advantage__wrapper--image img{
    width: 662px;   
}

.advantage__wrapper--list{
    grid-column: 2;
}

.advantage__list{
    display: grid;    
    grid-template-rows: 100px repeat(7, 40px);
    grid-template-columns: 50px 1fr;
}

.advantage__list h2{
    grid-column: 1/-1;
    grid-row: 1;    

    width: 390px;
    font-size: 44px;
    font-weight: bold;
    line-height: 1;    

    position: relative;
    bottom: 30px;
}

.advantage-list-1--img{
    grid-column: 1;
    grid-row: 2;    

    margin: auto;
}

.advantage-list-1--p{
    grid-column: 2;
    grid-row: 2;    

    font-size: 22px;
    font-weight: 400;

    margin: auto 0;
}

.advantage-list-1--line{
    grid-column: 1/2;
    grid-row: 3;    

    font-size: 22px;
    font-weight: 400;

    margin: auto 0;
}

/**********************************/

.advantage-list-2--img{
    grid-column: 1;
    grid-row: 4;    
    margin: auto;
}

.advantage-list-2--p{
    grid-column: 2;
    grid-row: 4;       

    font-size: 22px;
    font-weight: 400;

    margin: auto 0;
}

.advantage-list-2--line{
    grid-column: 1/2;
    grid-row: 5;    

    font-size: 22px;
    font-weight: 400;

    margin: auto 0;
}

/************************/

.advantage-list-3--img{
    grid-column: 1;
    grid-row: 6;    
    margin: auto;
}

.advantage-list-3--p{
    grid-column: 2;
    grid-row: 6;       

    font-size: 22px;
    font-weight: 400;

    margin: auto 0;
}

.advantage-list-3--line{
    grid-column: 1/2;
    grid-row: 7;    

    font-size: 22px;
    font-weight: 400;

    margin: auto 0;
} 

/****************/

.advantage-list-4--img{
    grid-column: 1;
    grid-row: 8;    
    margin: auto;
}

.advantage-list-4--p{
    grid-column: 2;
    grid-row: 8;       

    font-size: 22px;
    font-weight: 400;

    margin: auto 0;
}

/***********************section form***************************/

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 574px;

    width: 100%;

    padding-bottom: 130px;
}

.form .container{
    padding-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form .container .q{       
    text-align: center;   
    background-color: #FFF4F4;
    border-radius: 20px;

    margin-top: 120px;    

    width: 710px;     
    height: 292px;    

    display: flex;
    align-items: center;
    justify-content: center;    
}

.size-form h2{
    line-height: 0;

    font-size: 44px;
    font-weight: bold;
}

.size-form p{
    line-height: 0.5;

    font-size: 16px;
    font-weight: normal;

    padding-bottom: 40px;
}

.form-structure{
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 500px;

    background-color: white;

    border-radius: 50px 50px 50px 50px;
}

input{
    height: 60px;
    width: 330px;
    border: none;
    border-radius: 73px 0 0 73px;

    outline-style: none;

    padding-left: 30px;

    font-size: 18px;
    font-weight: 500;
}



.button{
    width: 170px;
    height: 62px;
    border: none;
    border-radius: 50px 50px 50px 50px;
    background-color: #FF4948;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 22px;
    font-weight: 500;
}

.button p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    font-size: 22px;
    font-weight: 500;
}

/************************footer*******************/

footer {
    min-height: auto;           
}

footer {    
    width: 100%;   
    height: 190px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;        
    flex-wrap: wrap;

    background: linear-gradient(to right, #FF9292, #DE5150); 

    position: relative;
    bottom: 0;       
}

.section-wrapper2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 34px;
    height: 73px;
}

.maincontact__list--1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 32px;

    list-style: none;
    width: 270px;
}

.contact-menu{
    width: 270px;
    padding-left: 340px;/*360px - 32px*/
    padding-right: 210px;    
}

.maincontact__item{
    width: 280px;
}

.maincontact__list--2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 35px;

    list-style: none;
    width: 220px;
}


/**********************************************/
ul {
    list-style: none;
}

ul {
    list-style: none;    
}

a{
    color: white;
    text-decoration: none;
  }

a p:hover,
a h4:hover{
    text-decoration: underline;
}

a img:hover,
a img:focus,

a .cart:hover,
a .cart:focus,

button:hover,
button:focus
{   
    scale: 1.1;
}

.show {
    transform: translateY(0px);    
}

.transorm{
    transform: translateY(-100px);    
}

.burger{
    transform: translateY(50px);
    background-color: #DE5150;
}

/**************************************/
@media(max-width : 1400px){   

    .menu{
        margin-left: 352px;
        margin-right: 365px;
    }


    .section__banner {
        padding-top: 150px;
        background: linear-gradient(to right, #FF9292, #DE5150);
        color: white;
        height: 700px;
    }

    .slider__item {
        display: grid;
        grid-template-columns: 125px 500px 95px 480px 200px;
        grid-template-rows: 40px 30px 280px 45px 60px 35px 60px;
        text-align: left;
    }

    .headphones {
        width: 500px;
    }

    h1{
        font-size: 100px;
    }


    /*****************************/


    .description .container{
        padding-left: 200px;
        padding-right: 224px;
    }

    .product{
        padding-left: 200px;
        padding-right: 227px;
    }

    .advantage__wrapper{
        padding-left: 200px;
        padding-right: 304px;
    }



    .contact-menu {        
        padding-left: 315px;
        padding-right: 185px;
    }
}

@media(max-width : 1200px){

    .menu {
        margin-left: 312px;
        margin-right: 325px;
    }
    
    .section__banner {
        padding-top: 150px;
        background: linear-gradient(to right, #FF9292, #DE5150);
        color: white;
        height: 600px;
    }

    .slider__item {
        display: grid;
        grid-template-columns: 100px 450px 75px 480px 95px;
        grid-template-rows: 40px 30px 280px 45px 60px 0px 60px;
        text-align: left;
    }

    .headphones {
        width: 450px;
    }

    /***************************/


    .description .container{
        padding-left: 50px;
        padding-right: 100px;

        grid-template-columns:460px 1fr 1fr; 
    }

    .product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 300px);

    grid-gap: 15px;

    padding-left: 50px;
    padding-right: 227px;


    }

    .headphones1{
        width: 330px;
    }

    .product__item1 .cart-a{
        width: 70px;
        height: 70px;

        position: relative;
        top: 30px;
        left: 15px;
    }
    .product__item1 .cart-a img{
        width: 70px;
        height: 70px;
    }

    .headphones2{
        width: 330px;        
    }

    .product__item2 .cart-a{
        width: 70px;
        height: 70px;

        position: relative;
        top: 30px;
        left: 15px;
    }
    .product__item2 .cart-a img{
        width: 70px;
        height: 70px;
    }

    .headphones3{
        width: 330px;
        position: relative;
        top:-10px;
    }

    .product__item3 .cart-a{
        width: 70px;
        height: 70px;

        position: relative;
        top: 30px;
        left: 15px;
    }
    .product__item3 .cart-a img{
        width: 70px;
        height: 70px;
    }

    /************************/

    .advantage__wrapper{
        display: grid;
        grid-template-columns: 550px 1fr;
        padding-left: 50px;
        padding-right: 304px;
    }

    .contact-menu {
        padding-left: 275px;
        padding-right: 145px;
    }
}

@media(max-width : 992px){
   
    .header-menu{
        /*background: none;*/
    }    

    .menu {
        margin-left: 200px;
        margin-right: 250px;
    }
    
    /*.navbar-toggler{
        margin-left: 900px;        
    }*/

    .slider__item {
        display: grid;
        grid-template-columns: 50px 400px 27px 420px 95px;
        grid-template-rows: 40px 30px 230px 45px 10px 35px 60px;
        text-align: left;
    }

    .headphones {
        width: 400px;
    }

    h1{
        font-size: 80px;

        width: 480px;
    }


    /*********************************/

    .description .container{
        padding-left: 25px;
        padding-right: 224px;

        grid-template-columns: 1fr 1fr 1fr;
    }

    .product{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 500px);

    grid-gap: 50px;

    padding-left: 50px;
    padding-right: 227px;
    }    

    .product__item3 {
        grid-row: 2;
        grid-column: 1;

        display: grid;
        grid-template-columns: 262px 70px;
        grid-template-rows: 385px 65px 45px;
    }

        /***************************/

    .advantage__wrapper {
        display: grid;
        grid-template-columns: 500px 392px;
        padding-left: 50px;
        padding-right: 304px;
    }

    .advantage__wrapper--image img {
        width: 550px;
    }

    .contact-menu {
        padding-left: 100px;
        padding-right: 145px;
    }
}

@media(max-width : 768px){    

    .menu {
        margin-left: 150px;
        margin-right: 150px;
    }    
    
    .slider__item {
        display: grid;
        grid-template-columns: 10px 300px 27px 405px 25px;
        grid-template-rows: 40px 60px 60px 45px 90px 10px 10px;
        text-align: left;
    }

    .headphones {
        width: 300px;
    }

    h1 {
        font-size: 60px;
        width: 405px;
    }

    .description .container{
        padding-left: 25px;
        padding-right: 224px;

        grid-template-columns: 1fr;
    }

    .image-description img{
        display: none;
    }

    .product{
        padding-left: 25px;
        padding-right: 227px;
    }

    .advantage__wrapper{
        padding-left: 25px;
        padding-right: 224px;

        display: grid;
        grid-template-columns: 1fr;
    }

    .advantage__wrapper--image {
        display: none;
    }

    .advantage__wrapper--list {
        grid-column: 1;
    }

    .contact-menu {
        padding-left: 10px;
        padding-right: 50px;
    }
}

@media(max-width : 576px){

    .logo{
        display: none;
    }

    .menu {
        margin-left: 150px;
        margin-right: 100px;
    }
    
    .slider__item {
        display: grid;
        grid-template-columns: 50px 0px 27px 405px 25px;
        grid-template-rows: 40px 60px 60px 45px 90px 10px 10px;
        text-align: left;
    }

    .headphones {
        display: none;
    }

    h1{
        font-size: 60px;
    }

    .description .container{
        padding-left: 100px;
        padding-right: 224px;
    }

    .image-description{
        display: none;
    }

    .product{        
        padding-left: 100px;
        padding-right: 227px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 500px);
    }

    .product__item1{
        grid-column: 1;
        grid-row: 1;
    }
    
    .product__item2{
        grid-column: 1;
        grid-row: 2;          
    }
    
    
    .product__item3{       
        grid-column: 1; 
        grid-row: 3;
    }

    .advantage__wrapper{
        padding-left: 100px;
        padding-right: 224px;       

        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .advantage__wrapper--image img{
        display: none;
    }

    .form .container .q {
        text-align: center;
        background-color: #FFF4F4;
        border-radius: 20px;
        margin-top: 120px;
        width: 520px;
        height: 292px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer{
        height: 250px;
    }

    .section-wrapper2{
        flex-direction: column;        
    }

    .logo2 {        
        position: relative;
        left: -200px;
        top: -150px;
        order: 2;
    }

}

@media(max-width : 320px){

    .section-wrapper {        
        height: 200px;
    }    

    .mainmenu__list {
        display: flex;
        flex-direction: column;        
    }

    .whiteLine{
        display: none;
    }

    .menu {
        margin-left: 0px;
        margin-right: 0px;

        transform: translateY(-250px);
        
    }

    .show{
        transform: translateY(0px);    
    }

    .transorm{
        transform: translateY(-220px);    
    }
    
    .burger{
        transform: translateY(110px);
        background-color: #DE5150;
    }

    .slider__item {
        display: grid;
        grid-template-columns: 10px 0px 0px 300px 0px;
        grid-template-rows: 40px 80px 60px 0px 0px 50px 10px;
        text-align: left;
    }

    .headphones {
        display: none;
    }

    h1 {
        font-size: 30px;
        width: 300px;
    }

    .price-new {
        font-size: 25px;
        font-weight: bold;
    }

    .price-old {
        text-decoration: line-through;
        font-size: 25px;
        font-weight: 500;
    }

    
    
   /****************************/
    
    .description .container{
        display: grid;
        grid-template-columns:1fr;

        padding-left: 15px;
    }

    .image-description{
        display: none;
    }

    .description__text h2{       
        width: 290px;
    }

    .description__text--1 {
        grid-row: 2;
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-template-rows: 60px 40px 35px;
        column-gap: 20px;
    }

    .battery{
        display: none;
    }

    .description__text .p-1 {
        line-height: 1;
    }


    .description__text--2 {
        grid-row: 3;
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-template-rows: 60px 40px 35px;
        column-gap: 20px;
    }

    .bluetooth{
        display: none;
    }  

    .description__text--3 {
        grid-row: 4;
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-template-rows: 60px 40px 35px;
        column-gap: 20px;
    }

    .microphone{
        display: none;
    }   

    .description__text--1,
    .description__text--2,
    .description__text--3{
        grid-template-columns: 1fr;
    }
    .description__text--1 .h3-1,
    .description__text--2 .h3-1,
    .description__text--3 .h3-1,
    .description__text .p-1,    
    .description__text .a-1
    {
        grid-column: 1;
        width: 200px;
    }
/*******************************/

    .otherproducts-text--1 {
        text-align: center;
        font-size: 44px;
        font-weight: 700;
        line-height: 1;
    }

    .otherproducts-text--2 {        
        width: 300px;        
    }

    .product{
        padding-left: 10px;

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 500px);
    }

    .product__item1{
        grid-column: 1;
        grid-row: 1;
        grid-template-columns: 200px 100px;
    }

    .product__item1 .cart-a {
        width: 30px;
        height: 30px;
        position: relative;
        top: 30px;
        left: 50px;
    }

    .product__item1 .cart-a img {
        width: 40px;
        height: 40px;
    }

    .product__item1 .star {        
        padding-top: 0;
    }

    .product__item1 .a {        
        padding-top: 0;
    }

    .headphones1 {
        width: 285px;
    }
    
/*********************************/

    .product__item2{
        grid-column: 1;
        grid-row: 2;  
        grid-template-columns: 200px 100px;        
    }

    .product__item2 .cart-a {
        width: 30px;
        height: 30px;
        position: relative;
        top: 30px;
        left: 50px;
    }

    .product__item2 .cart-a img {
        width: 40px;
        height: 40px;
    }

    .product__item2 .star {        
        padding-top: 0;
    }

    .product__item2 .a {        
        padding-top: 0;
    }

    .headphones2 {
        width: 285px;
    }

    /****************************/
    
    .product__item3{       
        grid-column: 1; 
        grid-row: 3;
        grid-template-columns: 200px 100px;
    }

    .product__item3 .cart-a {
        width: 30px;
        height: 30px;
        position: relative;
        top: 30px;
        left: 50px;
    }

    .product__item3 .cart-a img {
        width: 40px;
        height: 40px;
    }

    .product__item3 .star {        
        padding-top: 0;
    }

    .product__item3 .a {        
        padding-top: 0;
    }

    .headphones3 {
        width: 285px;
    }





    /***************************/

    .advantage__wrapper{
        padding-left: 10px;
        padding-right: 224px;       

        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .advantage__wrapper--image img{
        display: none;
    }    

    .advantage__list h2 {
        grid-column: 1 / -1;
        grid-row: 1;
        width: 300px;
        font-size: 32px;
        font-weight: bold;
        line-height: 1;
        position: relative;
        bottom: 30px;
    }



    /*****************/

    .size-form p {
        line-height: 1;        
    }

    .form .container .q {
        text-align: center;
        background-color: #FFF4F4;
        border-radius: 20px;
        margin-top: 120px;
        width: 300px;
        height: 292px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form-structure {        
        width: 280px;

        padding-left: 10px;
    }

    input{
        width: 160px;
        font-size: 10px;
        font-weight: 500;
    }

    .button{
        width: 110px;
    }

    .section-wrapper2{
        padding-top: 0px;
    }

    .logo2{
        display: none;
    }

    .contact-menu {
        padding-left: 0px;
        padding-right: 0px;
    }

    .maincontact__list--1{
        column-gap: 10px;
        width: 200px;
    }

    .contact-socialmedia{
        padding-right: 50px;
    }
}
