@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html, body{
    height: 100%;
    padding: 0;
    margin: 0;  
    
    font-family: "Rubik", sans-serif;    
}

/***********обводка всех блоков**************/
/** {
    border: 1px solid #000;
}*/

/**********************section header-menu*****************************************/

.header-menu {
    position:fixed;
    width: 100%;    
    top: 0;      
    z-index: 1000;     

    background: linear-gradient(to right, #FF9292, #DE5150); 

    transform: translateY(0px);
    transition: 0.4s transform ease;    
}

.section-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;    
    height: 90px;    
    margin: 0 auto;
    margin-top: 35px;
    max-width: 1145px;
}

.logo{
    transform: translateY(-100px);
    transition: 0.4s transform ease;
}

.whiteLine{
    height: 47px;
    width: 2px;
    background-color: white;
    opacity: 0.5;
}

.mainmenu__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 32px;

    list-style: none;    
}

.menu{
    width: 270px;
    position: relative;
    transform: translateY(-100px);
    transition: 0.4s transform ease;
}

.mainmenu__item{
    width: 47px;
}

/*************************section__banner*********************************/

header{
    background: linear-gradient(to right, #FF9292, #DE5150);
}

.section__banner{   
    /*background: linear-gradient(to right, #FF9292, #DE5150);*/
    color: white;
    height: 850px;    

    width: 100%;

    background-image: url("../img/menu/music1.svg"); 
    background-repeat: no-repeat; 
    background-position: top left;
}

.section__banner .container{
    margin: 0 auto;   
    margin-top: 120px;    
    position:relative;

    max-width: 1180px;   

    
}

.slider__item{
    display:  grid;
    grid-template-columns: 570px 1fr 520px;
    grid-template-rows: 40px 30px 280px 45px 60px 35px 60px;

    text-align: left;    
}

.headphones{
    grid-column: 1;
    width: 570px;
    z-index: 2;    
}

.slider__text{
    grid-column: 3;
    grid-row: 2;

    font-size: 22px;
    font-weight:normal;

    height: 30px;

    position: relative;
    top:-20px;
}

h1{
    grid-column: 3;
    grid-row: 3;   
    
    font-size: 100px;
    font-weight: bold;
    line-height: 1;

    position: relative;
    top: -90px;

    height: 280px;
}

.price{
    grid-column: 3;
    grid-row: 5;  

    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 30px;
}

.price-new{   
    font-size: 50px;
    font-weight:bold;
}

.price-old{   
    text-decoration: line-through;

    font-size: 40px;
    font-weight:500;    
}

.stick{
    height: 60px;
    width: 2px;
    background-color: white;    
}

.slider__button {
    grid-column: 3;
    grid-row: 8;
    width: 190px;
    height: 60px;
    border: none;
    border-radius: 50px 50px 50px 50px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF4948;
    font-size: 22px;
    font-weight: 500;
}

.navbar-toggler{
    background: none;
    border: none;

    opacity: 0;
}

.navbar-toggler img{
    width: 30px;
}

/****************************.description************************************************/

.description{
    width: 100%;
    height: 605px;

    margin-top: 130px;
}

.description .container{
    margin: 0 auto;
    
    position:relative;
    max-width: 1150px;
    
}

.description-grid{
    display: grid;
    grid-template-columns:500px 0px 620px;    
}

.description__text{
    grid-column: 1;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 190px repeat(3, 100px);

    grid-row-gap: 40px;
}

.description__text h2{
    grid-column: 1/2;
    grid-row: 1;

    font-size: 44px;
    font-weight: 700;
    width: 460px;

    line-height: 1;

    position: relative;
    bottom:20px;
    
}
/*************************************************/
.description__text--1{
    grid-row:2;

    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 40px 25px 35px;
    column-gap: 20px;
}

.battery{
    grid-column: 1;
    grid-row: 1;

    width: 100px;    

    display: flex;
    justify-content: center;
    align-items: center;
}

.description__text--1 .h3-1{
    grid-column: 2/3;
    grid-row: 1;    

    display: flex;    
    align-items: center;

    font-size: 31px;
    font-weight: 500;
}
.description__text .p-1{
    grid-column: 2/3;
    grid-row: 2;    

    display: flex;    
    align-items: center;

    font-size: 16px;
    font-weight: 400;    
}

.description__text .a-1{
    grid-column: 2/3;
    grid-row: 3;

    color: #DE5150;
    text-decoration: none;

    display: flex;    
    align-items: center;

    font-size: 16px;
    font-weight: 500;
}
/*****************************************************/

.description__text--2{
    grid-row:3;
    
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 40px 25px 35px;
    column-gap: 20px;
}

.bluetooth{
    grid-column: 1;
    grid-row: 1;

    width: 100px;  

    display: flex;    
    align-items: center;
}

.description__text--2 .h3-1{
    grid-column: 2/3;
    grid-row: 1;

    display: flex;    
    align-items: center;

    font-size: 31px;
    font-weight: 500;
}
.description__text--2 .p-1{
    grid-column: 2/3;
    grid-row: 2;

    display: flex;    
    align-items: center;

    font-size: 16px;
    font-weight: 400;
}

.description__text--2 .a-1{
    grid-column: 2/3;
    grid-row: 3;
    
    color: #DE5150;
    text-decoration: none;

    display: flex;    
    align-items: center;

    font-size: 16px;
    font-weight: 500;
}

/*******************************/

.description__text--3{
    grid-row:4;
    
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 40px 25px 35px;
    column-gap: 20px;
}

.microphone{
    grid-column: 1;
    grid-row: 1;

    width: 100px;  

    display: flex;
    justify-content: center;
    align-items: center;
}

.description__text--3 .h3-1{
    grid-column: 2/3;
    grid-row: 1;

    display: flex;    
    align-items: center;

    font-size: 31px;
    font-weight: 500;
}
.description__text--3 .p-1{
    grid-column: 2/3;
    grid-row: 2;

    display: flex;    
    align-items: center;

    font-size: 16px;
    font-weight: 400;
}

.description__text--3 .a-1{
    grid-column: 2/3;
    grid-row: 3;
    
    color: #DE5150;
    text-decoration: none;

    display: flex;    
    align-items: center;

    font-size: 16px;
    font-weight: 500;
}

/**********************************************/

.image-description{
    grid-column: 3;
    padding-top: 65px;

    background-image: url('../img/menu/music2.svg');
    background-repeat: no-repeat;
    width: 620px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.image-description img{
    width: 332px;    
}

/****************************product****************************/

.otherproducts{
    width: 100%;
    margin-top: 130px;
}

.otherproducts .container{
    margin: 0 auto;    
    position:relative;
    max-width: 1145px;
}

.otherproducts-text--1{
    text-align: center;
    font-size: 44px;
    font-weight: 700;   
    line-height: 0;    
}

.otherproducts-text--2{
    text-align: center;
    
    display: block;
    margin: 0 auto;

    font-size: 16px;
    font-weight: 400;   
    line-height: 24px;

    width: auto;
    padding-bottom: 43px;
}

.product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 300px);

    grid-gap: 30px;

    
}

.product__item1{
    grid-column: 1;
    grid-row: 1/3;

    /*background-image: url('../img/otherproducts/headphones1.png');    */
    
    background-size: cover;
    background-position: center;
}

.product__item2{
    grid-column: 2;
    grid-row: 1/3;

    /*background-image: url('../img/otherproducts/headphones2.png');    */
    background-size: cover;
    background-position: center;
}


.product__item3{
    grid-column: 3;
    grid-row: 1/3;

    /*background-image: url('../img/otherproducts/headphones3.png');    */
    background-size: cover;
    background-position: center;
}


/*****************************product__item1******************************************/

.product__item1{
    display: grid;
    grid-template-columns: 262px 70px; 
    grid-template-rows: 385px 65px 45px;   
}

.cart-a{
    width: 80px;
    height: 80px;
    z-index: 100;

    grid-column: 2;
    grid-row: 1;

    display: flex;
    justify-content: center;
    align-items: center;    

    position: relative;
    top: 25px;
    left: 20px;
}

.headphones1{
    grid-column: 1/2;
    grid-row: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 330px;    
}

.star{
    grid-column: 1;
    grid-row: 2;

    display: flex;
    justify-content: left;    

    padding-top: 35px;
}

.a{
    grid-column: 2;
    grid-row: 2;

    display: flex;
    justify-content: right;
    align-items: center;
    
    padding-top: 35px;

    font-size: 16px;
    font-weight: 500;    
}

.b{
    grid-column: 1;
    grid-row: 3;

    display: flex;
    justify-content: left;
    align-items: center;

    font-size: 22px;
    font-weight: 400;    
}

.c{
    grid-column: 2;
    grid-row: 3;

    display: flex;
    justify-content: right;
    align-items: center;

    font-size: 22px;
    font-weight: 500;    
}

/*****************************product__item2******************************************/

.product__item2{
    display: grid;
    grid-template-columns: 262px 70px; 
    grid-template-rows: 385px 65px 45px;   
}

/*****************************product__item3******************************************/

.product__item3{
    display: grid;
    grid-template-columns: 262px 70px; 
    grid-template-rows: 385px 65px 45px;   
}

/*******************************************************/

.advantage{
    width: 100%; 
    
    margin-top: 130px;
}

.advantage .container{
    margin: 0 auto;    
    position:relative;
    max-width: 1070px;
}

.advantage__wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.advantage__wrapper--image{
    grid-column: 1;
}

.advantage__wrapper--image img{
    width: 662px;   
}

.advantage__wrapper--list{
    grid-column: 2;
}

.advantage__list{
    display: grid;    
    grid-template-rows: 100px repeat(7, 40px);
    grid-template-columns: 50px 1fr;
}

.advantage__list h2{
    grid-column: 1/-1;
    grid-row: 1;    

    width: 390px;
    font-size: 44px;
    font-weight: bold;
    line-height: 1;    

    position: relative;
    bottom: 30px;
}

.advantage-list-1--img{
    grid-column: 1;
    grid-row: 2;    

    margin: auto;
}

.advantage-list-1--p{
    grid-column: 2;
    grid-row: 2;    

    font-size: 22px;
    font-weight: 400;

    margin: auto 0;
}

.advantage-list-1--line{
    grid-column: 1/2;
    grid-row: 3;    

    width: 290px;
    height: 1px;
    background-color: black;
    opacity: 0.5;

    margin: auto 0;
}

/**********************************/

.advantage-list-2--img{
    grid-column: 1;
    grid-row: 4;    
    margin: auto;
}

.advantage-list-2--p{
    grid-column: 2;
    grid-row: 4;       

    font-size: 22px;
    font-weight: 400;

    margin: auto 0;
}

.advantage-list-2--line{
    grid-column: 1/2;
    grid-row: 5;    

    width: 290px;
    height: 1px;
    background-color: black;
    opacity: 0.5;

    margin: auto 0;
}

/************************/

.advantage-list-3--img{
    grid-column: 1;
    grid-row: 6;    
    margin: auto;
}

.advantage-list-3--p{
    grid-column: 2;
    grid-row: 6;       

    font-size: 22px;
    font-weight: 400;

    margin: auto 0;
}

.advantage-list-3--line{
    grid-column: 1/2;
    grid-row: 7;    

    width: 290px;
    height: 1px;
    background-color: black;
    opacity: 0.5;

    margin: auto 0;
} 

/****************/

.advantage-list-4--img{
    grid-column: 1;
    grid-row: 8;    
    margin: auto;
}

.advantage-list-4--p{
    grid-column: 2;
    grid-row: 8;       

    font-size: 22px;
    font-weight: 400;

    margin: auto 0;
}

/***********************section form***************************/

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    width: 100%;    

    margin-top: 120px;

    background-image: url("../img/menu/music3.svg");    
    background-repeat: no-repeat;
    background-position: top;
}

.form .container{    
    display: flex;
    justify-content: center;
    align-items: center;
        
    height: 295px;    

    margin: 0 auto;    
    position:relative;
    max-width: 1235px;
}

.form .container .q{       
    text-align: center;   
    background-color: #FFF4F4;
    border-radius: 20px;   

    width: 710px;     
    height: 290px;    

    display: flex;
    align-items: center;
    justify-content: center;    
}

.size-form h2{
    line-height: 0;

    font-size: 44px;
    font-weight: bold;
}

.size-form p{
    line-height: 0.5;

    font-size: 16px;
    font-weight: normal;

    padding-bottom: 40px;
}

.form-structure{
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 500px;

    background-color: white;

    border-radius: 50px 50px 50px 50px;
}

input{
    height: 60px;
    width: 330px;
    border: none;
    border-radius: 73px 0 0 73px;

    outline-style: none;

    padding-left: 30px;

    font-size: 18px;
    font-weight: 500;
}



.button{
    width: 170px;
    height: 62px;
    border: none;
    border-radius: 50px 50px 50px 50px;
    background-color: #FF4948;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 22px;
    font-weight: 500;
}

.button p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    font-size: 22px;
    font-weight: 500;
}

/************************footer*******************/

footer {    
    min-height: auto;           
}

footer {
    background: linear-gradient(to right, #FF9292, #DE5150);    
    width: 100%; 
    bottom: 0;       

    margin-top: 130px;
}

.section-wrapper2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;    
    height: 190px;
    margin: 0 auto;    
    max-width: 1145px;
}

.maincontact__list--1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 32px;

    list-style: none;
    width: 270px;
}

.contact-menu{
    width: 270px;
   
}

.maincontact__item a{
    font-size: 22px;
    font-weight: 500;
}

.maincontact__list--2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 35px;

    list-style: none;
    
}


/**********************************************/
ul {
    list-style: none;
}

ul {
    list-style: none;    
}

a{
    color: white;
    text-decoration: none;    
}

a img,
button{
    transition: 0.3s ease;
}

.a-1:hover,
.maincontact__item a:hover{
    text-decoration: underline;
}

a img:hover,
a img:focus,

a .cart:hover,
a .cart:focus,

button:hover,
button:focus,

.slider__button:hover,
.slider__button:focus
{   
    scale: 1.1;
}

.show {
    transform: translateY(0px);    
}

.transorm{
    transform: translateY(-120px);    
}

.burger{
    transform: translateY(60px);
    background-color: #DE5150;
}

/**************************************/
@media(max-width : 1400px){

    .section-wrapper{
        max-width: 1050px;
    }

    .section__banner {
        height: 700px;
        background-image: none;
    }

    .slider__item {
        display: grid;
        grid-template-columns: 500px 1fr 480px;
        grid-template-rows: 40px 30px 280px 45px 60px 35px 60px;
        text-align: left;
    }

    .headphones {
        width: 500px;
    }

    h1{
        font-size: 100px;
    }

    .music{
        display: none;
    }

    /****************************/

    .form .container{
        background-image: none;
        max-width: 1050px;
    }

    /*******************************/

    .image-description{
        background-image: none;     
        width: auto;   
    }

    .description .container{
        max-width: 1050px;
    }

    .description-grid{
        grid-template-columns:repeat(3, 1fr);
    }

    .otherproducts .container{
        max-width: 1050px;
    }

    .advantage .container{
        max-width: 1000px;
    }

    .form{
        background-image: none;
    }

    .section-wrapper2{
        max-width: 1050px;
    }

}

@media(max-width : 1200px){

    .section-wrapper {
        max-width: 950px;
    }
    
    .section__banner {        
        height: 600px;
    }

    .section__banner .container {
        margin: 0 auto;
        position: relative;
        max-width: 950px;
    }

    .slider__item {
        display: grid;
        grid-template-columns: 450px 1fr 480px;
        grid-template-rows: 40px 30px 280px 45px 60px 0px 60px;
        text-align: left;
    }

    .headphones {
        width: 450px;
    }

    .navbar-toggler{    
        opacity: 1;
    }

    /***************************/    

    .description .container{
        max-width: 950px;

        grid-template-columns:460px 1fr 1fr; 
    }

    .otherproducts .container{
        max-width: 950px;
    }

    .product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 300px);

    grid-gap: 15px;
    }

    .product__item1,
    .product__item2,
    .product__item3{
        grid-template-columns: 230px 70px;
        grid-template-rows: 350px 65px 45px;
    }

    .headphones1{
        width: 290px;

        position: relative;
        bottom: 0;
    }

    .cart-a{
        width: 55px;
        height: 55px;

        position: relative;
        top: 30px;
        left: 25px;
    }
    .cart-a img{
        width: 55px;
        height: 55px;
    }

    /************************/

    .advantage .container {
        max-width: 900px;
    }

    .advantage__wrapper{
        display: grid;
        grid-template-columns: 500px 1fr;        
    }

    .advantage__wrapper--image img {
        width: 550px;
    }

    /*****************************/

    .form .container {        
        max-width: 950px;
    }

    /*************************/

    .section-wrapper2{
        max-width: 950px;
    }
}

@media(max-width : 992px){

    .section-wrapper {
        max-width: 800px;
    }

    .slider__item {
        display: grid;
        grid-template-columns: 400px 1fr 400px;
        grid-template-rows: 40px 30px 230px 45px 10px 35px 60px;
        text-align: left;
    }

    .section__banner .container {        
        max-width: 800px;
    }

    .headphones {
        width: 400px;
    }

    h1{
        font-size: 80px;
        width: auto;
    }

    /*********************************/

    .description .container{
        max-width: 800px;

        grid-template-columns: 1fr 1fr 1fr;
    }
    /***********************************/

    .otherproducts .container {
        max-width: 800px;
    }

    .product{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 500px);

    grid-gap: 50px;
    }    

    .product__item3 {
        grid-row: 2;
        grid-column: 1;
    }

        /***************************/

    .advantage .container {
        max-width: 750px;
    }

    .advantage__wrapper {
        display: grid;
        grid-template-columns: 400px 350px;        
    }

    .advantage__wrapper--image img {
        width: 450px;
    }

    .advantage__list h2{
        width: auto;
    }

    /*************************/

    .form .container {
        max-width: 800px;
    }

    /****************************/

    .section-wrapper2 {
        max-width: 800px;
    }
}

@media(max-width : 840px){

    .section-wrapper {
        max-width: 450px;
    }

    .logo{
        display: none;
    }    
    
    .slider__item {
        display: grid;
        grid-template-columns: 0px 0px 450px;
        grid-template-rows: 40px 60px 60px 45px 90px 10px 10px;       
    }

    .section__banner .container {
        max-width: 450px;
    }

    .headphones {
        display: none;
    }

    h1{
        font-size: 60px;
    }

    .description .container{
        max-width: 450px;
    }

    .image-description{
        display: none;
    }

    .otherproducts .container {
        max-width: 450px;
    }

    .product{        
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 500px);
    }

    .product__item1{
        grid-column: 1;
        grid-row: 1;
    }
    
    .product__item2{
        grid-column: 1;
        grid-row: 2;          
    }
    
    
    .product__item3{       
        grid-column: 1; 
        grid-row: 3;
    }

    /********************/

    .advantage .container {
        max-width: 450px;
    }

    .advantage__wrapper{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .advantage__wrapper--image img{
        display: none;
    }

    .form .container {
        max-width: 450px;
    }

    .form .container .q {
        text-align: center;
        background-color: #FFF4F4;
        border-radius: 20px;
        margin-top: 120px;
        width: 520px;
        height: 292px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer{
        height: 250px;
    }

    .section-wrapper2{
        max-width: 450px;
        flex-direction: column;        
    }

    .logo2 {        
        position: relative;
        left: -200px;
        top: -150px;
        order: 2;
    }

}

@media(max-width : 520px){

    .section-wrapper {        
        height: 200px;
        max-width: 280px;
    }    

    .mainmenu__list {
        display: flex;
        flex-direction: column;        
    }

    .whiteLine{
        display: none;
    }

    .menu {
        transform: translateY(-250px);        
    }

    .show{
        transform: translateY(0px);    
    }

    .transorm{
        transform: translateY(-220px);    
    }
    
    .burger{
        transform: translateY(110px);
        background-color: #DE5150;
    }

    .section__banner .container {
        max-width: 280px;
    }

    .slider__item {
        display: grid;
        grid-template-columns: 0px 0px 280px;
        grid-template-rows: 40px 80px 60px 0px 0px 50px 10px;        
    }

    .headphones {
        display: none;
    }

    h1 {
        font-size: 30px;
        width: 300px;
    }

    .price-new {
        font-size: 25px;
        font-weight: bold;
    }

    .price-old {
        text-decoration: line-through;
        font-size: 25px;
        font-weight: 500;
    }

    
    
   /****************************/
    
    .description .container{
        display: grid;
        grid-template-columns:1fr;

        max-width: 280px;
    }

    .image-description{
        display: none;
    }

    .description__text h2{       
        width: 290px;
    }

    .description__text--1 {
        grid-row: 2;
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-template-rows: 60px 40px 35px;
        column-gap: 20px;
    }

    .battery{
        display: none;
    }

    .description__text .p-1 {
        line-height: 1;
    }


    .description__text--2 {
        grid-row: 3;
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-template-rows: 60px 40px 35px;
        column-gap: 20px;
    }

    .bluetooth{
        display: none;
    }  

    .description__text--3 {
        grid-row: 4;
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-template-rows: 60px 40px 35px;
        column-gap: 20px;
    }

    .microphone{
        display: none;
    }   

    .description__text--1,
    .description__text--2,
    .description__text--3{
        grid-template-columns: 1fr;
    }
    .description__text--1 .h3-1,
    .description__text--2 .h3-1,
    .description__text--3 .h3-1,
    .description__text .p-1,    
    .description__text .a-1
    {
        grid-column: 1;
        width: 200px;
    }
/*******************************/

    .otherproducts .container {
        max-width: 280px;
    }

    .otherproducts-text--1 {
        text-align: center;
        font-size: 44px;
        font-weight: 700;
        line-height: 1;
    }    

    .product {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 400px);
    }

    .product__item1, .product__item2, .product__item3 {
        grid-template-columns: 180px 70px;
        grid-template-rows: 300px 50px 45px;
    }
    .cart-a {
        width: 50px;
        height: 50px;
        position: relative;
        top: 30px;
        left: 40px;
    }

    .cart-a img {
        width: 50px;
        height: 50px;
    }

    .star {        
        padding-top: 0;
    }

    .a {        
        padding-top: 0;
    }

    .headphones1 {
        width: 250px;
    }
    
/*********************************/
    .advantage .container {
        max-width: 280px;
    }

    .advantage__wrapper{

        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .advantage__wrapper--image img{
        display: none;
    }    

    .advantage__list h2 {
        grid-column: 1 / -1;
        grid-row: 1;
        width: 300px;
        font-size: 32px;
        font-weight: bold;
        line-height: 1;
        position: relative;
        bottom: 30px;
    }



    /*****************/

    .form .container {
        max-width: 280px;
    }

    .size-form p {
        line-height: 1;        
    }

    .form .container .q {
        text-align: center;
        background-color: #FFF4F4;
        border-radius: 20px;
        margin-top: 120px;
        width: 300px;
        height: 292px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form-structure {        
        width: 280px;        
    }

    input{
        width: 160px;
        font-size: 10px;
        font-weight: 500;
    }

    .button{
        width: 110px;
    }   
    /**************************/

    .section-wrapper2 {
        max-width: 280px;
    }

    .logo2{
        display: none;
    }    

    .maincontact__list--1{
        column-gap: 10px;
        width: 200px;
    }    
}
